/* categories */
#col-left > div > div > h2 {
    color: var(--white);
}
#addtag > div.form-field.form-required.term-name-wrap > label {
    color: var(--white);
}
#addtag > div.form-field.term-slug-wrap > label {
    color: var(--white);
}
#addtag > div.form-field.term-parent-wrap > label {
    color: var(--white);
}
#addtag > div.form-field.term-description-wrap > label {
    color: var(--white);
}
p#slug-description, p#name-description, p#parent-description, p#description-description, .form-wrap p, p.description {
    color: var(--white);
}