/* comments */
#comments-form > table > thead > tr {
    background-color: var(--dark-grey);
}
#comment {
    color: var(--white);
}
#the-comment-list tr {
    background-color: var(--black);
}
#the-comment-list tr td p {
    color: var(--white);
}
#comments-form > table > tfoot tr {
    background-color: var(--dark-grey);
}
#comments-form > table > tfoot > tr > th.manage-column.column-comment.column-primary {
    color: var(--white);
}
#wpbody-content > div.wrap > ul > li.mine > a > span {
    color: var(--white);
}
#wpbody-content > div.wrap > ul > li.moderated > a > span {
    color: var(--white);
}
#wpbody-content > div.wrap > ul > li.approved > a > span {
    color: var(--white);
}
#wpbody-content > div.wrap > ul > li.spam > a > span {
    color: var(--white);
}
#wpbody-content > div.wrap > ul > li.trash > a > span {
    color: var(--white);
}
#comment-1 > td.author.column-author > strong {
    color: var(--white);
}