@import './css/variables.css';
@import './css/side-menu.css';
@import './css/settings.css';
@import './css/home.css';
@import './css/updates.css';
@import './css/plugins.css';
@import './css/code.css';
@import './css/categories.css';
@import './css/comments.css';
@import './css/media.css';
@import './css/notifications.css';
@import './css/tools.css';


/* background color */
body.wp-admin {
    background-color: var(--black);
    color: var(--white);
}
/* dashboard heading */
#wpbody-content > div.wrap > h1 {
    color: var(--white);
}
h2 {
    color: var(--white);
}
/* link tags */
#wpbody-content > div.wrap > ul > li.all > a {
    color: var(--golden);
}
/* table backgrounds */
#the-list tr {
    background-color: var(--grey);
}
/* table header */
#posts-filter > table > thead > tr {
    background-color: var(--dark-grey);
}
#author, #categories, #tags {
    color: var(--white);
}
#posts-filter > div.tablenav.top > div.tablenav-pages.one-page > span.displaying-num {
    color: var(--white);
}
#wpbody-content > div.wrap > ul > li.publish > a > span {
    color: var(--white);
}
#wpbody-content > div.wrap > ul > li.all > a > span {
    color: var(--white);
}
/* table footer */
#posts-filter > table > tfoot > tr {
    background-color: var(--dark-grey);
}
#posts-filter > table > tfoot > tr th {
    color: var(--white);
}
/* row title */
#post-1 > td.title.column-title.has-row-actions.column-primary.page-title > strong > a {
    color: var(--golden);
}
/* all anchor tags */
a {
    color: var(--golden);
}

/* appearance page */
#wpbody-content > div.wrap > div.theme-browser.rendered > div > div.theme.add-new-theme > a > h2 {
    color: var(--white);
}
/* site health */
#dashboard_site_health {
    background-color: var(--black);
    border-radius: var(--border-radius);
    border: 1px solid var(--golden);
}
#dashboard_site_health > div.postbox-header {
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    border-bottom: 1px solid var(--golden);
}
#dashboard_site_health > div.inside > div > div.site-health-details p {
    color: var(--white);
}
#dashboard_site_health > div.inside > div > div.health-check-widget-title-section.site-health-progress-wrapper.hide-if-no-js.green > div.site-health-progress-label {
    color: var(--white);
}
#dashboard_site_health > div.postbox-header {
    background-color: var(--grey);
}
#dashboard_site_health > div.postbox-header > h2 {
    color: var(--white);
}
#dashboard_site_health > div.postbox-header > div > button.handle-order-higher > span.order-higher-indicator {
    color: var(--golden);
}
/* quick draft */
#dashboard_quick_press {
    background-color: var(--black);
    border-radius: var(--border-radius);
    border: 1px solid var(--golden);
}
#dashboard_quick_press > div.postbox-header {
    background-color: var(--grey);
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    border-bottom: 1px solid var(--golden);
}
#dashboard_quick_press > div.postbox-header > h2 > span.hide-if-no-js {
    color: var(--white);
}
#dashboard_quick_press > div.postbox-header > div > button.handle-order-higher > span.order-higher-indicator {
    color: var(--golden);
}
#title-wrap > label {
    color: var(--white);
}
#title {
    background-color: var(--dark-grey);
    border-color: var(--golden);
}
#description-wrap > label {
    color: var(--white);
}
#content {
    background-color: var(--grey);
    color: var(--white);
    border-color: var(--golden);
}
#save-post {
    background-color: var(--golden);
    border: none;
    color: var(--black);
}
/* at a glance */
#dashboard_right_now {
    background-color: var(--black);
    border-radius: var(--border-radius);
    border: 1px solid var(--golden);
}
#dashboard_right_now > div.inside {
    background-color: var(--black);
}
#dashboard_right_now > div.postbox-header {
    background-color: var(--grey);
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    border-color: var(--golden);
}
#dashboard_right_now > div.postbox-header > h2 {
    color: var(--white);
}
#dashboard_right_now > div.postbox-header > div > button.handle-order-higher > span.order-higher-indicator {
    color: var(--golden);
}
#wp-version {
    color: var(--white);
}
/* activity */
#dashboard_activity {
    background-color: var(--black);
    border-radius: var(--border-radius);
    border: 1px solid var(--golden);
}
#dashboard_activity > div.postbox-header {
    background-color: var(--grey);
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    border-bottom: 1px solid var(--golden);
}
#dashboard_activity > div.postbox-header > h2 {
    color: var(--white);
}
#dashboard_activity > div.postbox-header > div > button.handle-order-higher > span.order-higher-indicator {
    color: var(--golden);
}
#published-posts > h3 {
    color: var(--white);
}
#published-posts > ul > li:nth-child(odd) {
    background-color: var(--grey);
}
#published-posts > ul > li:nth-child(even) {
    background-color: var(--dark-grey);
}
#published-posts > ul > li > span {
    color: var(--white);
}
#latest-comments > h3 {
    color: var(--white);
}
#activity-widget #the-comment-list li:nth-child(odd) {
    background-color: var(--grey);
}
#activity-widget #the-comment-list li:nth-child(even) {
    background-color: var(--dark-grey);
}
#activity-widget #the-comment-list blockquote, #activity-widget #the-comment-list p.comment-meta {
    color: var(--white);
}
#latest-comments > ul.subsubsub > li > a > span.count {
    color: var(--white);
}
#published-posts {
    border-bottom: 1px solid var(--golden);
}
#latest-comments > ul.subsubsub {
    border-top: 1px solid var(--golden)
}

/* wordpress updates */
#wpbody-content > div.wrap > p {
    color: var(--white);
}
#wpbody-content > div.wrap > h2.wp-current-version {
    color: var(--white);
}
#wpbody-content > div.wrap > h2.response {
    color: var(--white);
}
#upgrade {
    background-color: var(--golden);
    border: none;
    color: var(--black);
    border-radius: 3px;
}
#wpbody-content > div.wrap > h2 {
    color: var(--white)
}
/* plugin activation message */
#message {
    background-color: var(--dark-grey);
    color: white;
    border-left-color: var(--golden);
}
.plugins tr {
    background-color: var(--grey);
}
.widefat thead tr th, .widefat tfoot tr th {
    color: var(--white);
}
.plugins .active th, .plugins .active td {
    background-color: var(--dark-grey);
    color: var(--white);
}
div.plugin-description p {
    color: var(--white);
}
.subsubsub a .count, .subsubsub a.current .count {
    color: var(--white);
}
.tablenav .one-page .displaying-num {
    color: var(--white);
}
.wp-core-ui .button, .wp-core-ui .button-secondary {
    background-color: var(--dark-grey);
    color: var(--golden);
    border: 1px solid var(--golden);
}
input[type=submit]:hover {
    background-color: var(--dark-grey);
    color: var(--white);
}
.plugin-update-tr.active td, .plugins .active th.check-column {
    border-left: 4px solid var(--golden);
}
/* dropdown */
.wp-core-ui select {
    background-color: var(--dark-grey);
    color: var(--golden);
    border: 1px solid var(--golden);
}
/* search for plugins */
input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
    background-color: var(--dark-grey);
    color: var(--white);
    border: 1px solid var(--golden);
}
/* screen options */
#screen-meta-links .show-settings {
    background-color: var(--dark-grey);
    color: var(--golden);
    border: 1px solid var(--golden);
}
#screen-options-wrap {
    background-color: var(--dark-grey);
}
#screen-meta {
    border-left: 1px solid var(--golden);
    border-bottom: 1px solid var(--golden);
    border-right: 1px solid var(--golden);
}
#screen-meta-links .show-settings:hover {
    color: var(--white);
}
/* admin menu */
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
    background-color: var(--golden);
    color: var(--dark-grey);
}
#adminmenu li.wp-has-current-submenu div.wp-menu-image::before {
    color: var(--dark-grey);
}
#adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top, #adminmenu li>a.menu-top:focus {
    color: var(--golden);
}
#adminmenu li a:hover {
    color: var(--golden);
}
ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu>li.current>a.current:after {
    border-right-color: var(--dark-grey);
}
/*dashicon color on hover. Does not work on items with a submenu*/
#adminmenu li a:focus div.wp-menu-image:before, #adminmenu li.opensub div.wp-menu-image:before, #adminmenu li:hover div.wp-menu-image:before {
    color: var(--golden);
}

p, h1 {
    color: var(--white)
}
div.health-check-header {
    background-color: var(--black);
}
/* pages */
#wpbody-content > div.wrap > a {
    background-color: var(--dark-grey);
    color: var(--golden);
    border: 1px solid var(--golden);
}
.widefat td, .widefat th {
    color: var(--white);
}

a:active, a:hover {
    color: var(--white);
}
div.broken-themes h3 {
    color: var(--white);
}
div.update-message p {
    color: var(--black);
}
.notice-warning.notice-alt {
    background-color: var(--golden);
}
